/* Universal styles */
html {
  font-size: 16px;
}

body {
  font-family: "Rubik";
  color: #838383;
  background: linear-gradient(#e7e3d4, #e7dad4, #e2e7d4);
}

div {
  border-radius: 0.5rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h1,
h2,
h3 {
  color: #364046;
}

h2,
h3 {
  font-weight: bold;
}

a {
  color: #364046;
  text-decoration: none;
}

.img-container {
  overflow: hidden;
  border-radius: 1%;
}

.section-padding {
  padding: 2rem 1.5rem;
}


/* Header styles*/
header {
  background-color: #c0c0c0;
}

.academy {
  font-weight: 200;
  /*color: #374785;*/
}

.desktop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.desktop-header a {
  transition: color 0.1s linear 0.1s;
}

.desktop-header a:hover {
  color: #45b3e0;
}

.mobile-header {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  height: 2rem;
}

.logo span {
  font-size: 1.5rem;
}

nav {
  margin-right: 1.5rem;
}

nav a {
  padding: 1rem;
}

.bold {
  color: #364046;
  font-weight: bold;
}

@media only screen and (max-width: 480px) {
  .mobile-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
  }

  .mobile-header a {
    padding: 0.2rem;
    border-radius: 30%;
    transition: background-color 0.2s linear 0.05s;
  }

  .mobile-header a:hover {
    background-color:#e2e2e2;
  }

  .desktop-header {
    display: none;
  }
}

/* Banner styles */
.banner {
  display: flex;
  align-items: center;
}

.banner .img-container {
  max-width: 60%;
}

.banner-text {
  max-width:30%;
  margin-left: 1.5rem;
}

.banner-text h1 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.banner-text h3 {
  padding-bottom: 1.75rem;
  line-height: 1.4;
}

.banner-text a {
  display: block;
  color: #ededed;
  background-color: #364046;
  text-decoration: none;
  text-align: center;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 1rem;
  transition: box-shadow 0.1s ease-out 0.1s,
              color 0.1s ease-out 0.1s;
}

.banner-text a:hover {
  box-shadow: 5px 5px 5px grey;
  color: #45b3e0;
}

@media only screen and (max-width: 480px) {
  .banner {
    flex-direction: column;
  }

  .banner.section-padding {
    padding: 0 0 2rem 0;
  }

  .banner .img-container {
    max-width: 100%;
  }

  .banner-text {
    max-width: 100%;
    margin-left: 0;
    padding: 1rem;
  }

  .banner-text h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .banner-text h3 {
    padding-bottom: 1.5rem;
  }
}

/* Supporting section styles */
.supporting {
  display: flex;
}

.information {
  display: flex;
  align-items: flex-start;
}

.information-main {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.information-main .img-container {
  width: 100%;
}

.supporting-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
  margin-top: 1rem;
  background-color: #ededed;
}

.information-main-text {
  padding: 1rem;
}

.information-main-text h2 {
  margin-bottom: 1.5rem;
}

.information-main-text p {
  line-height: 1.7;
}

.information-main-caption {
  padding-left: 1rem;
  padding-bottom: 0.25rem;
}

.supporting-items {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

.thumbnail {
  max-width: 35%;
  max-height: auto;
  padding: 1rem 0 1rem 1rem
}

.first,
.second {
  margin-bottom: 2rem;
}

.mobile {
  display: none;
}

.item {
  display: flex;
  align-items: center;
  margin-left: 1.25rem;
  background-color: #ededed;
}

.item-text {
  width: 65%;
  padding: 0.5rem;
}

.item-text h3 {
  margin-bottom: 0.5rem;
}

.item-text a {
  display: block;
  margin-top: 0.5rem;
  color: #45b3e0;
  transition: color 0.1s linear 0.1s;
}

.item-text a:hover {
  color: #1f8dba;
}

.item-text span {
  line-height: 1.4;
}

@media only screen and (max-width: 480px) {
  .information-main {
    display: none;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .supporting.section-padding {
    padding: 1rem 1rem 2rem 1rem;
  }

  .supporting-items {
    max-width: 100%;
  }

  .item {
    flex-direction: column;
    margin-left: 0;
    padding: 1rem;
  }

  .thumbnail {
    max-width: 100%;
    padding: 0;
  }

  .item-text {
      width: 100%;
      padding-left: 2rem;
      padding-top: 2rem;
  }
}

/* Programs section styles */
.programs {
  padding: 2rem 4.5rem;
}

.programs h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.program-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.program-item {
  width: 30%;
  padding: 1rem;
  margin-bottom: 0.5rem;
  background-color: #ededed;
}

.program-item .img-container {
  max-width: 100%;
  margin-bottom: 1rem;
}

.program-text {
  padding-left: 1rem;
  width: 80%;
}

.program-text h3 {
  padding-bottom: 0.5rem;
}

.program-text p {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  line-height: 1.7;
}

.mobile-program-grid {
  display: none;
}

.mobile-program-item {
  padding: 1rem;
  margin-bottom: 0.5rem;
  background-color: #ededed;
  transition: background-color 0.2s linear 0.1s;
}

.mobile-program-item a {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.mobile-program-item:hover {
  background-color: #d4ebf2;
  transition: background-color 0.2s linear 0.1s;
}

.courses {
  color: #364046;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
  height: 0;
  transition: height 0.2s ease-out 0.2s,
              opacity 0.05s linear 0.02s,
              padding-top 0.2s linear 0.2s,
              padding-bottom 0.2s linear 0.2s;
}

.mobile-program-item:hover .courses {
  height: 5rem;
  opacity: 1;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  transition: height 0.2s ease-out 0.2s,
              opacity 0.2s linear 0.2s,
              padding-top 0.2s linear 0.2s,
              padding-bottom 0.2s linear 0.2s;
}

.courses p {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  line-height: 1.4;
}

@media only screen and (max-width: 480px) {
  .programs {
    padding: 1rem;
  }

  .program-grid {
    display: none;
  }

  .mobile-program-grid {
    display: flex;
    flex-direction: column;
  }
}

/* Exhibit section */
.exhibit h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.exhibit-content {
  display: flex;
}

.exhibit-video {
  width: 60%;
  overflow: hidden;
}

.exhibit-video video {
  max-width: 100%;
}

.exhibit-video-text {
  margin-top: 1rem;
  padding: 0.5rem 1rem 1rem 1rem;
  background-color: #ededed;
}

.exhibit-video h3 {
  margin-bottom: 0.5rem;
}

.exhibit-video p {
  line-height: 1.7;
}

@media only screen and (max-width: 480px) {
  .exhibit-content {
    display: block;
  }

  .exhibit-content .supporting-items {
    display: none;
  }

  .exhibit.section-padding {
    padding: 2rem 0;
  }

  .exhibit-video {
    width: 100%;
  }

  .exhibit-video-text {
    display: none;
  }
}

/* Footer section */
footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background-color: #c0c0c0;
  color: #364046;
}

@media only screen and (max-width: 480px) {
  .terms {
    display: none;
  }
}
